.user-container {
    border: 2px solid black;
    padding: 2em;
    margin: 2em auto;
    width: 70%;
    height: 25em;
    display: flex;
    flex-direction: row;
}

.pic-block {
    width: 30%;
    background-color: #DBD3D8;
}

.pic-block>img {
    object-fit: contain;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    display: block;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 1em;
}

.user-info>.title {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    flex: 1
}

.additional-info>p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.additional-info {
    height: inherit;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
}

.generate-token-line {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #DBD3D8;
    width: 100%;
}

.generate-token-line > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 1em auto;
}

.disabled {
    background-color: #59515E !important;
    border: 2px solid #59515E;
}

.token-btn {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-self: center;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.token-btn:hover {
    background-color: #fff;
    color: #000;
}

.modal {
    font-family: "DM Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}