{% extends "layout.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block dependancies %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block main %}

<div class="connection-container">
  <div class="introduciton-container">
    <p>
      Welcome to DIGI – Your Gateway to Seamless Conversations
    </p>
    <p>
      At DIGI, we believe in the power of connection. Our platform is designed to make reaching out and engaging with others as simple and intuitive as possible. Whether you're connecting with a friend, a colleague, or someone new, DIGI is here to guide you through the process, step by step.
    </p>
    <p>
      How DIGI Works
    </p>
    <p> 
      We've crafted a streamlined four-step process to ensure you can establish meaningful connections effortlessly. Let's walk you through the DGCE journey:
    </p>
  </div>
  <p class="dgce-text">
    DGCE
  </p>
</div>
{% endblock %}