{% extends "layout.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block dependancies %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block main %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="connection-container">
  <div class="dgce-container">
    <p class="dgce-text">
      DGCE
    </p>
  </div>
</div>
{% endblock %}