.title-line {
    text-align: center;
    background-color: black;
}

.message-line > p, .title-line > p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.title-line > p{
    letter-spacing: 5px;
    font-size: 50px;
    color: white;
    font-weight: 300;
}

.chat-box-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1em;

}

.chat-box {
    background-color: #eeeeee;
    border: 1px solid black;
    height: 40em;
    width: 70%;
    overflow: scroll;
}
.input-line {
    width: 70%;
    border: 1px solid black;
    border-top:none;
    background-color: #e3cece;
    height: 6em;
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 1em;
}
.input-line >  input {
    font-size: 50px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    flex: 24;
}
.input-line > .button-line {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-line > button {
    width: 4em;
    height: 4em;
    border: none;
    background-color: white;
    transition: 0.2s background-color ease;
}

.button-line > button:hover {
    background-color: black;
    color: white;
}

.button-line > button > span {
    text-align: center;
    font-size: 50px;
    padding-top: 0.1em;
}

.message-line {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.message-line > p {
    padding: 0.5em 1em;
    margin: 0.35em 1.2em;
}

.message-line.receiver {
    align-items: right;
}

.receiver > p {
    margin-left: auto;
    color: black;
    border-radius: 4em; 
    cursor: pointer;
    transition: background-color 0.33s ease;
}

.receiver>p:hover {
    background-color: #b9b1b6;
    
}

.sender > p {
    background-color: black;
    color: white;
    border-radius: 4em; 
}
