#modalTitle, .modal-footer > button, #messageModal > div > div > div.modal-header {
    font-family: "DM Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

#modalTitle {
    font-size: 50px !important;
}

#messageModal > div > div > div.modal-header {
    font-size: 35px  !important;
}

#messageContent {
    width: 100%;
    font-size: 30px;
}

#messageModal > div > div > div.modal-footer button {
    font-family: "DM Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px  !important;
}

#messageModal > div {
    max-width: 700px;
}

.modal-footer button {
    font-size: 200px !important;
}
