{% extends 'layout.html' %}
{% load static %}
{% block title %}
  Chat - loading..
{% endblock %}
{% block dependancies %}
  <link rel="stylesheet" href="{% static 'css/chatbox.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
{% endblock %}
{% block main %}
<input type="hidden" id="connectionId" value="{{ chat_id }}">
<div class="title-line">
  {% comment %} this here should send a http get request for the name 
  of the other the current user is chatting with {% endcomment %}
  <p>chat with loading..</p> 
</div>
<div class="chat-box-line">
  <div class="chat-box">
    {% comment %} <div class="message-line sender">
      <p>Hello, hyus! How are you my friend?</p>
    </div>
    <div class="message-line receiver">
      <p>Greetings, zeno. I am happy that I have established a connection with you.</p>
    </div>
    <div class="message-line sender">
      <p>This app is crazy as shit no keezy bro.</p>
    </div>
    <div class="message-line sender">
      <p>This app is crazy as shit no keezy bro.This app is crazy as shit no keezy bro.This app is crazy as shit no keezy bro.This app is crazy as shit no keezy bro.This app is crazy as shit no keezy bro.This app is crazy as shit no keezy bro.</p>
    </div>
    <div class="message-line sender">
      <p>This app is crazy as shit no keezy bro.</p>
    </div>
    <div class="message-line sender">
      <p>This app is crazy as shit no keezy bro.</p>
    </div>
    <div class="message-line receiver">
      <p>Aight dog, chill.</p>
    </div>
    <div class="message-line sender">
      <p>This app is crazy as shit no keezy bro.</p>
    </div>
    <div class="message-line sender">
      <p>This app is crazy as shit no keezy bro.</p>
    </div>
    <div class="message-line receiver">
      <p>Aight dog, chill.</p>
    </div> {% endcomment %}
  </div>
    <form class="input-line">
        <input type="text" id="messageInput">
        <div class="button-line">
          <button id="send" type="submit"><span class="material-symbols-outlined">arrow_upward</span></button>
        </div>
    </form>
</div>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
