.connection-container {
    margin: auto 4.7em;
}

.connection-container p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

p.mini-title {
    font-size: 57px;
    font-weight: bold;
    color: black;
    padding-block: 1.4em ;
}

p.basic {
    font-size: 30px;
    text-align:justify;
    padding-bottom: 1em;
}

.dgce-text {
    font-family: "Tourney", sans-serif !important; 
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    font-size: 250px !important;
    font-style: normal !important;
    font-variation-settings:
        "wdth" 100 !important;
    text-align: center !important;
    color: black !important;
}

