.dgce-text {
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 200px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
    color: black;
    background-color: blue;
}

