{% extends "layout.html" %}
{% load static %}
{% block title %}
Register
{% endblock %}

{% block dependancies %}
<link rel="stylesheet" href="{% static 'register.css' %}">
<script src="jquery-3.7.1.min.js"></script>
{% endblock %}

{% block main %}
<!-- Add email to the form -->
<form action="/accounts/register" method="post">
    {% csrf_token %}
    <div class="inputs-div">
        <div class="line-div">
            <p class="lead">Username:</p>
            <div class="form-floating mb-3">
                <input name="username" type="text" autocomplete="off" class="form-control" id="username" placeholder="digi_user">
                <label for="floatingInput">Username</label>
            </div>
        </div>
        <div class="line-div">
            <p class="lead">First Name:</p>
            <div class="form-floating mb-3">
                <input name="first" type="text" autocomplete="off" class="form-control" id="first" placeholder="John">
                <label for="floatingInput">First Name</label>
            </div>
        </div>
        <div class="line-div">
            <p class="lead">Last Name:</p>
            <div class="form-floating mb-3">
                <input name="last" type="text" autocomplete="off" class="form-control" id="last" placeholder="Doe">
                <label for="floatingInput">Last Name</label>
            </div>
        </div>
        <div class="line-div">
            <p class="lead">Email:</p>
            <div class="form-floating mb-3">
                <input name="email" type="email" autocomplete="off" class="form-control" id="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
        </div>
        
    </div>
    <div class="inputs-div">
        <div class="line-div">
            <p class="lead">Password:</p>
            <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control" id="password"
                placeholder="name@example.com">
                <label for="floatingInput">Password</label>
            </div>
        </div>
        <div class="line-div">
            <p class="lead">Confirm Password:</p>
            <div class="form-floating mb-3">
                <input name="confirmation" type="password" class="form-control" id="confirmation"
                    placeholder="name@example.com">
                <label for="floatingInput">Confirm Password</label>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

<script src="{% static 'js/validate.js' %}" ></script>
<script src="{% static 'js/csrf.js' %}" ></script>
{% endblock %}