{% extends 'layout.html' %}
{% load static %}
{% block title %}
  Connections - {{ user.username }}
{% endblock %}
{% block dependancies %}
  <link rel="stylesheet" href="{% static 'css/options.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
{% endblock %}
{% block main %}
  <div class="connections-div">
    <div class="add-connection-container">
      <a href={% url "connect" %}>

        <span class="material-symbols-outlined">
          person_add
        </span>
        
      </a>
    </div>
      {% for connection_dict in users %}
        <div class="connection-card">
          <input type="hidden" value="{{ connection_dict.encrypted_id }}" />
          <div class="card-header">
            {{ connection_dict.connection.username }}
          </div>
          <div class="card-body">
            <div class="user-info">
              <div class="profile-pic-div">
                <img src={% static "img/default_pic.png" %} alt="user_pic">
              </div>
              <div class="user-full-name-div">
                <p>
                  {{ connection_dict.connection.first_name }}
                </p>
                <p>
                  {{ connection_dict.connection.last_name }}
                </p>
              </div>
            </div>
            <div class="message-container">
              <p>
                Last Message:
              </p>
              <div class="message">
                <p>
                  You:
                </p>
                <p>
                  Yes I can fulfill the request.
                </p>
              </div>
              <p>
                WED 6 Mar 16:32
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% comment %} <div class="connection-card">
      <div class="card-header">
        hyus314
      </div>
      <div class="card-body">
        <div class="user-info">
          <div class="profile-pic-div">
            <img src={% static "img/default_pic.png" %} alt="user_pic">
          </div>
          <div class="user-full-name-div">
            <p>
              Hyus
            </p>
            <p>
              Osmanov
            </p>
          </div>
        </div>
        <div class="message-container">
          <p>
            Last Message:
          </p>
          <div class="message">
            <p>
              You:
            </p>
            <p>
              Yes I can fulfill the request.
            </p>
          </div>
          <p>
            WED 6 Mar 16:32
          </p>
        </div>
      </div>
    </div>
    <div class="connection-card">
      <div class="card-header">
        hyus314
      </div>
      <div class="card-body">
        <div class="user-info">
          <div class="profile-pic-div">
            <img src={% static "img/default_pic.png" %} alt="user_pic">
          </div>
          <div class="user-full-name-div">
            <p>
              Hyus
            </p>
            <p>
              Osmanov
            </p>
          </div>
        </div>
        <div class="message-container">
          <p>
            Last Message:
          </p>
          <div class="message">
            <p>
              You:
            </p>
            <p>
              Yes I can fulfill the request.
            </p>
          </div>
          <p>
            WED 6 Mar 16:32
          </p>
        </div>
      </div>
    </div>
    <div class="connection-card">
      <div class="card-header">
        hyus314
      </div>
      <div class="card-body">
        <div class="user-info">
          <div class="profile-pic-div">
            <img src={% static "img/default_pic.png" %} alt="user_pic">
          </div>
          <div class="user-full-name-div">
            <p>
              Hyus
            </p>
            <p>
              Osmanov
            </p>
          </div>
        </div>
        <div class="message-container">
          <p>
            Last Message:
          </p>
          <div class="message">
            <p>
              You:
            </p>
            <p>
              Yes I can fulfill the request.
            </p>
          </div>
          <p>
            WED 6 Mar 16:32
          </p>
        </div>
      </div>
    </div>
    <div class="connection-card">
      <div class="card-header">
        hyus314
      </div>
      <div class="card-body">
        <div class="user-info">
          <div class="profile-pic-div">
            <img src={% static "img/default_pic.png" %} alt="user_pic">
          </div>
          <div class="user-full-name-div">
            <p>
              Hyus
            </p>
            <p>
              Osmanov
            </p>
          </div>
        </div>
        <div class="message-container">
          <p>
            Last Message:
          </p>
          <div class="message">
            <p>
              You:
            </p>
            <p>
              Yes I can fulfill the request.
            </p>
          </div>
          <p>
            WED 6 Mar 16:32
          </p>
        </div>
      </div>
    </div>
    <div class="connection-card">
      <div class="card-header">
        hyus314
      </div>
      <div class="card-body">
        <div class="user-info">
          <div class="profile-pic-div">
            <img src={% static "img/default_pic.png" %} alt="user_pic">
          </div>
          <div class="user-full-name-div">
            <p>
              Hyus
            </p>
            <p>
              Osmanov
            </p>
          </div>
        </div>
        <div class="message-container">
          <p>
            Last Message:
          </p>
          <div class="message">
            <p>
              You:
            </p>
            <p>
              Yes I can fulfill the request. Alabasdasd123231
            </p>
          </div>
          <p>
            WED 6 Mar 16:32
          </p>
        </div>
      </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    
  </div>
  <script src="{% static 'js/my-connections.js' %}"></script>
{% endblock %}
