{% extends 'layout.html' %}
{% load static %}
{% block title %}
  Connections - {{ user.username }}
{% endblock %}
{% block dependancies %}
  <link rel="stylesheet" href="{% static 'css/connect.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
{% endblock %}
{% block main %}

{% endblock %}
